<dialog id="permission-modal" class="modal" hx-boost="false" hx-on:htmx:load="this.showModal()"
    hx-on:close="this.remove()">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="font-bold text-lg">{{ user.email }}</h3>
        <p class="py-4">workspace: {{role.workspace_id}}</p>
        <form id="user-roles-modal" class="form-control"
            hx-post="/roles/user/{{ user.id }}/workspace/{{ role.workspace_id }}" hx-target="#user-roles-modal"
            hx-swap="outerHTML" hx-trigger="change" hx-select="#user-roles-modal">
            {% for name, value in role.roles.items() %}
            <label class="label cursor-pointer">
                <span class="label-text">{{name}}</span>
                <input type="checkbox" class="toggle" name="{{ name }}" {% if value %} checked {% endif %} />
            </label>
            {% endfor %}
        </form>

    </div>
</dialog>