{% extends "base.html" %}

{% block content %}


<div class="f-fallback">
    <h1 style="margin-top: 0; color: #333333; font-size: 22px; font-weight: bold; text-align: left;" align="left">
        Unable to access account {{ message.account_info() }}
    </h1>

    <p style="font-size: 16px; line-height: 1.625; color: #333; margin: .4em 0 1.1875em;">
        Fix was not able to collect latest resource information for account {{ message.account_info() }}. Please
        ensure the account exists and that the necessary access permissions have been granted.
    </p>
    <p>
      <a href="https://app.fix.security/workspace-settings/accounts#{{ message.tenant_id }}" class="button" target="_blank">View in Fix</a>
    </p>

</div>

{% endblock content %}
