{% extends "base.html" %}

{% block content %}

  <h1>Day 1: Effortless search, powerful insights</h1>

  <p>
    Imagine having the ability to pinpoint any resource in your cloud environment within seconds.
    With Fix, that's not just possible; it's your new reality.
    Our search functionality is designed to streamline your workflows, enhance security, and ensure you're always just a
    few keystrokes away from finding exactly what you need.
  </p>

  <p>
    This tutorial assumes that you connected at least one cloud account with Fix. If not already happened, please visit
    the setup cloud accounts page in fix and connect your accounts.
  </p>

  <h2>Filter by origin</h2>
  <p>
    Log into your Fix account and navigate to the Inventory.
    Here, you find dropdowns for the most common filters.
  </p>
  <p>
    <img src="https://cdn.some.engineering/fix/assets/101/day1/filter-overview.png" width="530" alt="Filer Overview"/>
  </p>
  <p>
    Filter resources by cloud, account, region or zone is straightforward.
    You can also narrow down the list of resources by a specific tag.
  </p>

  <h2>Filter by severity</h2>
  <p>
    Fix analyzes all your resources against different security benchmarks and compliance frameworks.
    Fix marks all security vulnerabilities on the resource.
    The severity filter now allows you to filter for resources that have vulnerabilities of a specific severity.
  </p>

  <p>
    <img src="https://cdn.some.engineering/fix/assets/101/day1/severity-filter.png" width="280" alt="Severity Filter"/>
  </p>

  <h2>Filter by kind</h2>
  <p>
    The kinds filter allows you to filter resources of a specific service, e.g. Lambda Functions or IAM roles. This is
    the go-to filter if you want to narrow down specific resources by specific property filters.
  </p>
  <p>
    <img src="https://cdn.some.engineering/fix/assets/101/day1/kinds-filter.png" width="280" alt="Kinds Filter"/>
  </p>

  <h2>Filter by property</h2>
  <p>
    Every resource kind has its own set of properties. Fix allows you to filter resources by any property. Press the +
    button. Based on the selected kind of resource, you now see all possible properties.
  </p>
  <p>
    <img src="https://cdn.some.engineering/fix/assets/101/day1/property-filter.png" width="250" alt="Property Filter"/>
  </p>

  <p>
    Once the property is selected, you can define the operation and filter value. The value dropdown shows all possible
    values that exist for the selected property in the current search configuration.
  </p>

  <p>
    <img src="https://cdn.some.engineering/fix/assets/101/day1/property-value.png" width="480" alt="Property Value"/>
  </p>

  <h2>We're here to help</h2>
  <p>
    If any steps feel unclear, or if you encounter any bumps along the road, our team is standing by.
  </p>
  <p>
    Contact us at <a href="mailto:support@fix.security">support@fix.security</a> or ping us on <a
          href="https://discord.gg/fixsecurity">Discord</a>.
  </p>

  <p>
  Happy searching,<br/>
  The Fix Team
  </p>

  <p>
    <a href="https://app.fix.security?origin=email&tpl={{ template_name }}" class="button" target="_blank">Log in to Fix</a>
  </p>



{% endblock content %}
