{% extends "base.html" %}

{% block content %}

  <h1> Day 2: Elevate Your Security Insights with Fix </h1>

  <p>
    Welcome to Day 2 of our journey towards securing your digital landscape. As your infrastructure evolves, so do its
    vulnerabilities. It's challenging to predict when a new change might weaken your security defenses. That's where Fix
    steps in – your vigilant partner, dedicated to highlighting potential vulnerabilities the moment they arise.
  </p>

  <p>
    Fix is not just a tool; it's your ally in maintaining a robust security posture. By implementing a comprehensive
    suite of security benchmarks, Fix evaluates every modification within your infrastructure. This continuous scrutiny
    ensures that your security measures always align with the best practices.
  </p>

  <h2> Your Security, Visualized </h2>
  <p><img src="https://cdn.some.engineering/fix/assets/101/day2/overall-score.png" width="480" alt="Overall Score"/>
  </p>
  <p>
    When you navigate to the Security Tab within the Fix app, you're met with insightful metrics.
    Fix calculates an overarching score for your cloud accounts, offering you a bird's eye view of your infrastructure's
    security health.
    A score of 100 would signify flawless security alignment with every benchmark.
    If you hover over the score you get the number of security issues broken down by severity.
  </p>

  <h2> Dive Deep with Detailed Analytics </h2>
  <p><img src="https://cdn.some.engineering/fix/assets/101/day2/benchmark-heatmap.png" width="540"
          alt="Benchmark Heatmap"/></p>
  <p>
    Our benchmark heatmap provides an in-depth analysis, plotting all your accounts against the established benchmarks.
    This visualization allows you to quickly gauge how each account stands in relation to specific security benchmarks,
    empowering you with the knowledge to make informed decisions.
  </p>

  <h2> Monitoring Evolution Over Time </h2>
  <p>
    Understanding the dynamic nature of your security posture is crucial.
    That's why we highlight not only the quantity of new security issues identified over the last 7 days but also how
    many have been resolved.
    Gain insights into the 'top offenders' by account and resource type, enabling you to focus your efforts where they
    are needed most.
  </p>
  <p><img src="https://cdn.some.engineering/fix/assets/101/day2/changed-vulnerable.png" width="600"
          alt="Changed Vulnerable"/></p>

  <h2> How to progress from here </h2>
  <p>
    In our commitment to not only identify but also solve, Fix offers a prioritized list of issues that, when addressed,
    will significantly enhance your security posture.
    This list goes beyond mere identification; it details the risks involved and provides comprehensive instructions for
    resolution.
  </p>

  <p><img src="https://cdn.some.engineering/fix/assets/101/day2/top-check-example.png" width="600"
          alt="Top Check Example"/></p>

  <p>
    We're Here to Support You.
    Navigating the complexities of cybersecurity can be daunting, but you're not alone.
    Whether you have questions, need clarification, or encounter any obstacles, our dedicated team is here to assist
    you.
  </p>
  <p>
    Reach out to us at <a href="mailto:support@fix.security">support@fix.security</a> or connect with us on
    <a href="https://discord.gg/fixsecurity">Discord</a>.
  </p>
  Wishing you a secure and insightful journey, <br/>
  The Fix Team



{% endblock content %}
