{% extends "base.html" %}

{% block content %}

  <h1> Day 4: Stay Ahead with Instant Security Notifications</h1>

  <h2> Keeping a Pulse on Your Security Landscape </h2>
  <p>
  With Fix, your infrastructure is under continuous watch, ensuring every aspect of your security posture is
  scrutinized. Our platform doesn't just monitor; it actively compares new security scans against previous ones,
  identifying both resolutions and emerging threats. This vigilant approach means you're always one step ahead, equipped
  to tackle vulnerabilities as they arise.
  </p>

  <h2>Tailoring Alerts to Your Needs</h2>
  <p>
  Understanding the importance of relevant alerts, Fix empowers you to customize notifications to your preferences.
  Utilize the alerting settings to specify which benchmarks warrant your attention and the severity level that triggers
  an alert. This bespoke configuration ensures you're informed without being overwhelmed.
  </p>
  <p><img src="https://cdn.some.engineering/fix/assets/101/day4/alert-settimgs.png" width="600"
          alt="Alert Settings"/>
  </p>


  <h2>Integrating with Your Preferred Communication Channels</h2>

  <p>
  Alerts are most effective when they seamlessly integrate into your existing workflow. That's why Fix offers
  compatibility with a wide array of communication platforms. Pick the one you use and connect it to Fix.
  </p>
  <p><img src="https://cdn.some.engineering/fix/assets/101/day4/connected-services.png" width="600"
          alt="Connected Services"/>
  </p>



  <h2>Proactive Security at Your Fingertips</h2>
  <p>
  Upon completing a security scan that identifies new vulnerabilities, Fix utilizes all your specified alerting channels
  to dispatch a consolidated alert for each failing benchmark identified. This alert encompasses details of the checks
  that were not passed, alongside examples of the affected resources, providing a clear picture of the areas requiring
  attention.
  </p>
  <p><img src="https://cdn.some.engineering/fix/assets/101/day4/slack-alert.png" width="600"
          alt="Slack Alert"/>
  </p>


  <h2>Here to Empower Your Secure Path Forward</h2>
  <p>
  With Fix, the initiative is in your hands; there's no need for constant monitoring. Alerts prompt you directly,
  enabling you to take swift, informed actions to address and rectify the identified issues.
  Should you have any inquiries or require assistance in setting up your alert configurations, our team is readily
  available.
  </p>
  <p>
    Reach out to us at <a href="mailto:support@fix.security">support@fix.security</a> or engage with our community on <a href="https://discord.gg/fixsecurity">Discord</a>.
  </p>

  Continuing to secure your digital journey together,<br/>
  The Fix Team


{% endblock content %}
