{% extends "base.html" %}

{% block content %}

<div class="f-fallback">
    <h1 style="margin-top: 0; color: #333333; font-size: 22px; font-weight: bold; text-align: left;" align="left">
        Security scan finished!
    </h1>

    <p style="font-size: 16px; line-height: 1.625; color: #333; margin: .4em 0 1.1875em;">
        Your first security scan is finished! You can now view the results in the <a href="{{ fix_console_url }}"
            style="font-weight: 800; text-decoration: underline; color: #3d58d3; ">Fix console</a>.
    </p>
    <p>
      <a href="{{ fix_console_url }}" class="button" target="_blank">View in Fix</a>
    </p>

</div>

{% endblock content %}