<link rel="noopener" target="_blank"
    href='https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap' rel='stylesheet'
    type='text/css'>
<div
    style="padding: 30px; max-width: 490px; margin: 0 auto; background: #fff; color: #111827; font-family: Nunito Sans, Cabin, sans-serif; font-size: 14px; font-weight: 400;">
    <img style="display: block; width: 100%;"
        src="https://cdn.some.engineering/assets/email/thank-you-for-signing-up.png" />
    <h1 style="font-size: 18px; font-weight: 800; margin: 30px 0;">
        We are glad to see you, {{ email }}
    </h1>
    <p style="margin-bottom: 30px;">
        You chose FIX to detect, prioritize, and remediate critical cloud risks. We’re setting up your dashboard and
        it might take a while. In the meantime, here are more ways to get in touch with us:
    </p>
    <div style="margin-bottom: 25px; display: table;">
        <div style="display: table-row;">
            <div style="height: 100%; width: 14px; display: table-cell;">
                <img style="display: block; width: 14px; height: 12px; margin-bottom: -1px;"
                    src="https://cdn.some.engineering/assets/email/arrow.png" />
            </div>
            <div>
                <p style="margin: 0; padding-left: 10px; display: table-cell;">
                    <a style="color: #E01A4F; font-weight: 800;" href="{{ visit_our_blog_url }}">Visit our Blog:</a>
                    Ready industry related news, in depth posts of new feature launches and other related content.
                </p>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 25px; display: table;">
        <div style="display: table-row;">
            <div style="height: 100%; width: 14px; display: table-cell;">
                <img style="display: block; width: 14px; height: 12px; margin-bottom: -1px;"
                    src="https://cdn.some.engineering/assets/email/arrow.png" />
            </div>
            <div>
                <p style="margin: 0; padding-left: 10px; display: table-cell;">
                    <a style="color: #E01A4F; font-weight: 800;" href="{{ connect_with_fix_on_linkedin_url }}">Connect
                        with FIX on LinkedIn:</a> We have a LinkedIn page that we post updates to including new
                    features, invitations to tech talks and general company news.
                </p>
            </div>
        </div>
    </div>
    <div style="display: table;">
        <div style="display: table-row;">
            <div style="height: 100%; width: 14px; display: table-cell;">
                <img style="display: block; width: 14px; height: 12px; margin-bottom: -1px;"
                    src="https://cdn.some.engineering/assets/email/arrow.png" />
            </div>
            <div>
                <p style="margin: 0; padding-left: 10px; display: table-cell;">
                    <a style="color: #E01A4F; font-weight: 800;" href="{{ discord_url }}">Talk to us on
                        Discord:</a> We're always happy to hear from users, learn about their
                    infrastructure and hear product feedback.
                </p>
            </div>
        </div>
    </div>
    <p style="margin: 0; padding-top: 30px;">
        If you have any questions, drop our support team a message at <a href="mailto:{{ support_email  }}"
            style="color: #1C4396; font-weight: 800;">support@fix.tt</a>
    </p>
    <hr style="margin: 30px 0;height: 0px;border: 0;border-top: 1px solid #000;opacity: 0.2;">
    <p style="margin: 0; color: #4B5563; font-size: 12px; line-height: 18px; text-align: center;">
        This email is intended to: <a style="color: #1C4396; font-weight: 600;" href="mailto:{{ email }}">{{ email
            }}</a><br />
        For more information please visit us at <a style="color: #1C4396; font-weight: 600;"
            href="https://www.fix.tt">www.fix.tt</a><br />
        © 2024 Some Engineering Inc. All rights reserved.
    </p>
</div>