<link rel="noopener" target="_blank"
    href='https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap' rel='stylesheet'
    type='text/css'>
<div
    style="padding: 30px; max-width: 490px; margin: 0 auto; background: #fff; color: #111827; font-family: Plus Jakarta Sans, Cabin, sans-serif; font-weight: 400;">
    <img style="display: block; width: 100%;"
        src="https://cdn.fix.security/assets/email/thank-you-for-signing-up.png" />
    <h1 style="font-weight: 800; margin: 30px 0;">
        We are glad to see you, {{ email }}
    </h1>
    <p>Welcome to Fix. We appreciate your decision to enhance your cloud security with our platform. As a new user, you've taken an important step toward protecting your cloud environments.</p>

    <p>Here's what you can start doing right away:</p>

    <ol>
        <li><strong>Connect Your Accounts</strong>: If you haven't already done so, securely link your cloud accounts <a href="https://app.fix.security/workspace-settings/accounts">here</a>. Our system works seamlessly with AWS, Azure, and Google Cloud.</li>
        <li><strong>Security Dashboard Tour</strong>: Familiarize yourself with your new security dashboard <a href="https://app.fix.security/security">here</a>. It's designed to give you a comprehensive view of your cloud security posture at a glance.</li>
        <li><strong>Browse Your Cloud Inventory</strong>: Understanding what resources you have is the first step in securing them. Browse your cloud inventory <a href="https://app.fix.security/inventory">here</a> to get a clear picture of all your assets.</li>
        <li><strong>Set Up Alerts</strong>: Customize your alert settings to stay informed about your cloud's security status. Learn more <a href="https://app.fix.security/workspace-settings">here</a>.</li>
      </ol>
      
      <p>Should you have any questions or require assistance, feel free to contact our support team at <a href="mailto:support@fix.security">support@fix.security</a>. We also encourage you to <a href="{{ discord_url }}">talk to us directly on Discord</a>.
      
      <p>Thank you for choosing us for your cloud security needs. We are committed to helping you maintain a secure and compliant cloud environment.</p>

      <p><strong>Lars Kamp<br>
        CEO & Co-Founder<br>
        Fix | Continuous Cloud Security</strong></p>
      <hr style="margin: 30px 0;height: 0px;border: 0;border-top: 1px solid #000;opacity: 0.2;">
      <div style="margin-bottom: 25px; display: table;">
        <div style="display: table-row;">
            <div style="height: 100%; width: 14px; display: table-cell;">
                <img style="display: block; width: 14px; height: 12px; margin-bottom: -1px;"
                    src="https://cdn.fix.security/assets/email/arrow.png" />
            </div>
            <div>
                <p style="margin: 0; padding-left: 10px; display: table-cell;">
                    <a style="color: #E01A4F; font-weight: 800;" href="{{ visit_our_blog_url }}">Visit our Blog:</a>
                    Ready industry related news, in depth posts of new feature launches and other related content.
                </p>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 25px; display: table;">
        <div style="display: table-row;">
            <div style="height: 100%; width: 14px; display: table-cell;">
                <img style="display: block; width: 14px; height: 12px; margin-bottom: -1px;"
                    src="https://cdn.fix.security/assets/email/arrow.png" />
            </div>
            <div>
                <p style="margin: 0; padding-left: 10px; display: table-cell;">
                    <a style="color: #E01A4F; font-weight: 800;" href="{{ connect_with_fix_on_linkedin_url }}">Connect
                        with Fix on LinkedIn:</a> We have a LinkedIn page that we post updates to including new
                    features, invitations to tech talks and general company news.
                </p>
            </div>
        </div>
    </div>
    <hr style="margin: 30px 0;height: 0px;border: 0;border-top: 1px solid #000;opacity: 0.2;">
    <p class="intend" style="margin: 0; color: #4B5563; line-height: 18px; text-align: center;">
        This email is intended to: <a style="color: #3d58d3; font-weight: 600;" href="mailto:{{ email }}">{{ email
            }}</a><br />
        For more information please visit us at <a style="color: #3d58d3; font-weight: 600;"
            href="https://fix.security">fix.security</a><br />
        © 2024 Some Engineering Inc. All rights reserved.
    </p>
</div>
