{% extends "base.html" %}

{% block content %}

  <h1>Welcome to Fix</h1>


  <p>
    Thank you for trusting us to help you secure your cloud environments. Your journey to a safer, more robust cloud
    infrastructure starts today. Since you have been invited by a coworker, here is a quick overview of what Fix is
    about.
  </p>

  <h2>What is CSPM and why do I need it?</h2>

  <p>
    In the era of cloud computing, the scale and complexity of cloud resources have escalated dramatically. With
    anywhere
    from a handful to potentially hundreds or even thousands of engineers deploying, modifying, and managing cloud
    resources across multiple platforms, the landscape of a company's cloud infrastructure has become vast and
    intricate.
    This expansion means no single person has full visibility into every asset or configuration within the
    infrastructure.
    It's within this context that Cloud Security Posture Management (CSPM) becomes indispensable.
  </p>

  <div class="align-center">
    <img src="https://cdn.some.engineering/fix/assets/email/user_joined_workspace/account_summary.png" width="380"
         alt="Account Summary"/>
    <p class="sub">Security score summary of all accounts</p>
  </div>

  <p>
    CSPM tools like Fix are designed to provide a panoramic view of an organization's cloud security posture, automating
    the detection of risks that can stem from:
  </p>

  <ul>
    <li><strong>Misconfigurations:</strong> As cloud environments grow, so does the likelihood of misconfigurations.
      Simple oversights
      in
      settings can lead to significant vulnerabilities, such as exposed data stores or improperly secured compute
      instances
      and databases.
    </li>
    <li><strong>Compliance Drifts:</strong> With regulations evolving and varying across jurisdictions, maintaining
      compliance in the
      cloud
      becomes a moving target. CSPM ensures that your infrastructure adheres to the latest standards, protecting against
      penalties and breaches.
    </li>
    <li><strong>Orphaned Resources:</strong> Among the most insidious risks are the forgotten, unused, or "orphaned"
      resources that
      accumulate
      over time, such as volume snapshots of sensitive data (e.g., customer databases) or unused virtual machines. These
      abandoned assets can not only incur unnecessary costs but also pose significant security risks if left unmonitored
      and
      unprotected.
    </li>
  </ul>

  <div class="align-center">
    <img src="https://cdn.some.engineering/fix/assets/email/user_joined_workspace/benchmark_score.png" width="300"
         alt="Benchmark Score"/>
    <p class="sub">Account score for specific industry standards</p>
  </div>

  <p>
    Given the dynamic nature of cloud resources, with new services being spun up and down daily, CSPM serves as an
    essential system to ensure that every piece of your cloud puzzle is accounted for, secure, and compliant. Fix
    leverages advanced CSPM capabilities to scan and identify potential vulnerabilities across your entire cloud
    ecosystem, ensuring not just security, but peace of mind in a landscape where traditional oversight methods no
    longer
    suffice.
  </p>

  <div class="align-center">
    <img src="https://cdn.some.engineering/fix/assets/email/user_joined_workspace/failing_check_timeline.png"
         width="450" alt="Failing Check Timeline"/>
    <p class="sub">How does my security posture evolve over time</p>
  </div>

  <h2>How does Fix help?</h2>

  <p>
    In the complex landscape of cloud infrastructure, Fix stands out as your vigilant partner, offering comprehensive
    monitoring and management of your cloud environment.
  </p>

  <div class="align-center">
    <img src="https://cdn.some.engineering/fix/assets/email/user_joined_workspace/top-check-example.png" width="420"
         alt="Security Issue Example"/>
    <p class="sub">Every issue is explained with directions on how to fix it</p>
  </div>

  <p>
    At the heart of Fix is the inventory of your cloud infrastructure, a precise mapping of all resources and their
    interconnections. This approach enhances visibility and deepens your understanding of the cloud environment's
    intricate dynamics. It allows you to see certain misconfigurations at a glance, like load balancers without
    backends, or abandoned volumes that are not mounted by a VM.
  </p>

  <div class="align-center">
    <img src="https://cdn.some.engineering/fix/assets/email/user_joined_workspace/security-issues.webp" width="420"
         alt="Resource Security Issues"/>
    <p class="sub">Security Issues of a specific AWS EC2 Instance</p>
  </div>

  <p>
    Our search engine transforms the way you interact with your cloud resources. Whether you're pinpointing instances
    with
    public IPs, identifying aging resources, or locating too open firewall rules, Fix delivers precise and immediate
    insights. This capability extends to full-text searches, making it possible to swiftly find resources related to
    specific keywords, such as tags or names.
  </p>

  <div class="align-center">
    <img src="https://cdn.some.engineering/fix/assets/email/user_joined_workspace/property-value.png" width="450"
         alt="Filter a specific property value"/>
    <p class="sub">Combine filters to find the resource you are looking for</p>
  </div>

  <p>
    Beyond search, Fix enhances your data management capabilities. It allows for the exportation of data for deeper
    analysis or seamless integration with various data analysis and management tools, including traditional databases as
    well as spreadsheet programs like Excel and Google Sheets. This flexibility enriches your analytics ecosystem,
    ensuring comprehensive and actionable insights across your cloud environment.
  </p>

  <div class="align-center">
    <img src="https://cdn.some.engineering/fix/assets/email/user_joined_workspace/graph-view-ec2.webp" width="450"
         alt="Resource Neighborhood View"/>
    <p class="sub">Connected resources of a specific AWS EC2 instance</p>
  </div>

  <p>
    A cornerstone of Fix's philosophy is openness and flexibility. Built on our open-source project "Fix Inventory," we
    offer unparalleled transparency and control. This ensures that migrating away from our SaaS, should you choose to,
    is
    hassle-free, reinforcing our commitment to data ownership and vendor independence.
  </p>


  <h2>Getting started with Fix</h2>

  <p>
    To kickstart your journey with Fix, we've prepared a Quick Start Guide that covers everything from setting up your
    account to navigating the dashboard.
  </p>


  <h2>Next steps</h2>

  <p>
    Ready to dive in? Here are a few first steps we recommend:
  </p>

  <p>
    Log in to your Fix account: Explore the dashboard and familiarize yourself with its features.
    Complete your profile setup: Ensure your account information is up-to-date and turn on or off any E-mail
    notifications
    you would like to receive from us.
    Review your cloud inventory: Start by getting an overview of your existing cloud resources.
  </p>

  <h2>Here for you</h2>

  <p>
    Your success is our top priority. If you have any questions or need assistance, our team is just an email away.<br/>
    Contact us at <a href="mailto:support@fix.security">support@fix.security</a> or ping us on <a
          href="https://discord.gg/fixsecurity">Discord</a>.
  </p>

  <p>
    Thank you once again for choosing Fix. We're excited to be a part of your cloud security journey.
  </p>

  <p>
    Warm regards,<br/>

    The Fix Team
  </p>

  <p>
    <a href="https://app.fix.security?origin=email&tpl={{ template_name }}" class="button" target="_blank">Log in to
      Fix</a>
  </p>

{% endblock content %}
