<div class="overflow-x-auto">
    <table id="search-table" class="table" hx-trigger="workspaceAdded from:body"
        hx-get="{{ url_for('user_workspaces_table')}}" hx-include=" #search" hx-swap="outerHTML"
        hx-target="closest .overflow-x-auto">
        <thead>
            <tr>
                <th>Workspace Id</th>
                <th>Slug</th>
                <th>Name</th>
                <th>Product Tier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for workspace in workspaces %}
            <tr>
                <td>{{ workspace.id }}</td>
                <td>{{ workspace.slug }}</td>
                <td>{{ workspace.name }}</td>
                <td>{{ workspace.product_tier }} </td>
                <td>
                    {% if workspace.owner_id == user.id %}
                    <div class="tooltip" data-tip="Can't remove the workspace owner">
                        <button class="btn btn-error" disabled="disabled">Remove from workspace</button>
                    </div>
                    {% else %}
                    <button class="btn btn-error">Remove from workspace</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>