<dialog id="workspaces-modal" class="modal" hx-boost="false" hx-on:htmx:load="this.showModal()"
    hx-on:close="this.remove()">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="font-bold text-lg">Add {{ user.email }} to a new workspace</h3>
        <form class="justify-evenly mt-4 form-control"
            hx-post="{{ url_for('add_to_workspace_submit', user_id=user.id) }}" hx-swap="outerHTML">
            <input type="text" placeholder="workspace id" name="workspace_id"
                class="input input-bordered w-full max-w-xs" />

            {% for name in roles %}
            <label class="label cursor-pointer">
                <span class="label-text">{{ name }}</span>
                <input type="checkbox" name="{{name}}" class="checkbox" />
            </label>
            {% endfor %}
            <button class="btn">Add</button>
        </form>
</dialog>